* {
    box-sizing: border-box;    
    font-family: PingFangSC-Semibold, PingFang SC;   
}
html, body {
  width: 100%;
  height: 100%;
}
.text-center{
    text-align: center;
}
.container {
    height: 100%;
    width: 100%;
    position: relative;
    background-color: #f8f8f8;
}
.content{
  position: relative;
}
header {
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 138px;
    background-image: url("../images/carousel-img.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
.dev-bgc{
     position: relative;
    /* width: 100%; */
    width: 145px;
    height: 100px;
    background-image: url("../images/dev-bgc.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
}
header > img {
    position: absolute;
    top: -1.5px;
    left: 65px;
}

.customer-demo {
    background-color: #fff;
}

.customer-img-wrapper {
    position: relative;
    display: inline-block;
    text-align: center;
    
}
.customer-img{
     position: relative;
    width: 100%;
    height: 100%;
    min-width: 160px;
    min-height: 100px;
    /* background-image: url("../images/jrtt.png"); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /*zoom: 1;*/
    /*background-size: cover;*/
    /*-webkit-background-size: cover;*/
    /*-o-background-size: cover;*/
    background-position: center center;
}

.customer-demo-title {
    font-size: 14px;
    font-weight: 600;
    color: #000;
    padding-bottom: 5px;
}

.customer-demo-fw {
    font-size: 7px;
    font-weight: 400;
    color: #333;
}
/* 
.customer-img-wrapper > img {
    outline-width: 0px;
    vertical-align: top;
    height: 100%;
    width: 50%;
    min-width: 187px;
} */

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 160px;
    height: 100px;
    background: rgba(0, 0, 0, .5);
    color: #ffffff;
    font-size: 9px;
    font-weight: 400;
    line-height: 100px;
    letter-spacing: 1px;
}

.team-bgc {
    width: 100%;
    padding: 15px 14% 21px;
    background-color: #f8f8f8;
}
.team-bgc-left {
    display: inline-block;
    width: 467px;
    height: 269px;
    font-size: 0;
    background-color: #fff;
    padding-top: 8px;
    padding-left: 21px;
    vertical-align: top;
    border-radius: 10px;
}
.team-introduce{
    display: block;
    font-size: 8px;
    font-weight: 400;
    color: #333333;
    text-align: left;
}
.team-introduce-right {  
    display: block;
    font-size: 7px;
    color: #000000;
    font-weight: 400;
    padding-top: 10px;

}
.team-introduce-bottom{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    width: 60px;
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px 0px rgba(208,231,250,1);
    border-radius: 3px;
    cursor: pointer;
      /* transition: all 0.6s linear;   */
    /* padding-top: 21px; */

}
.service-process {
    width: 100%;
/* min-width: 1440px; */
    background-color: #fff;
    /* height: 420px; */
    padding-bottom: 20px;
}
.circle {
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 1px solid #979797;
    background: #fff;
}
.dashed {
    height: 0px;
    /* line-height: 1px; */
    border-top: 3px dashed #979797;
}
.number {
    color:#2171FF;
    font-size: 12PX;
    font-weight: 500;
    height: 12px;
    line-height: 12px;
    margin-left: 2px;
    margin-right: 2px;
}
.we-develop {
    /* height:454px; */
background: #F8F8F8;
}
.we-develop-box {
    /* display: flex;
    justify-content: center; */
    padding-bottom: 20px;
    padding-top: 22px;
}
.we-dev-text {
    display: inline-block;
    width: 100%;
    padding-top: 57px;
    font-size: 12px;
    font-weight: 500;
    color: #FFFFFF;
}
.contace-us{
    width: 100%;
/* min-width: 1440px; */
/* height: 260px; */
background:rgba(1,64,131,.1);

}
.footer-text-content {
    /* display: inline-block;
    text-align: left;
    height: 102px;
    vertical-align:top; */
}
.footer-text {
    /* display: block;
    padding-top: 21px;
    padding-bottom: 22px; */
    font-size: 7px;
    color: #333333;
}
.samll-circle {
    width: 10px;
    height: 10px;
    background: #C5E8FF;
    opacity: 0.6;
    border: 1px solid #E9F5FD;
    border-radius:50%;
    position: absolute;
    right: 15px;
    bottom: 34px;
}

.team-introduce-bottom:hover {
    -webkit-transform:translateX(-40px);
    transform: translateX(-40px);
    /* background-color: #fff; */
    transition: all 0.6s linear;
    -moz-transition: all 0.6s linear; /* Firefox 4 */
    -webkit-transition: all 0.6s linear; /* Safari 和 Chrome */
    -o-transition: all 0.6s linear; /* Opera */
     transform: scale(1.2);  
}
.team-introduce-bottom:hover .samll-circle {
     -webkit-transform:translateX(-20px);
    transform: translateX(-20px);
    -moz-transition: all 0.6s linear; /* Firefox 4 */
    -webkit-transition: all 0.6s linear; /* Safari 和 Chrome */
    -o-transition: all 0.6s linear; /* Opera */
    transition: all 0.6s linear;
}